In [3]:
import pandas as pd

cam_df = pd.read_excel("/content/datargb.xlsx")
gsr_df = pd.read_excel("/content/datawcam.xlsx")

cam_df.head(), gsr_df.head()

(   S. No.  Age Gender        R        G       B        C  Temp90614      GSR  \
 0       1   20   Male   585.00   385.17  259.67  1223.83      31.76  1151.17
 1       2   20   Male  1890.43  1238.14  794.86  3891.71      34.52    86.14
 2       3   20   Male   724.38   540.75  364.38  1633.50      32.97  1029.38
 3       4   20   Male   558.29   312.29  192.57  1045.71      33.69   907.57
 4       5   19   Male  2058.83  1259.00  797.33  3968.17      34.36   658.33

      BMI Jaundice
 0  20.28      Yes
 1  26.03       No
 2  24.16      Yes
 3  23.77      Yes
 4  23.30      Yes  ,
    S. No.  Age Gender  Temp90640      GSR Liver Healthy
 0       1   20   Male      37.22  1151.17            No
 1       2   20   Male      36.36    86.14            No
 2       3   20   Male      34.97  1029.38           Yes
 3       4   20   Male      33.42   907.57           Yes
 4       5   19   Male      36.69   658.33            No)

In [4]:
merged_df = pd.merge(cam_df, gsr_df, on="S. No.", how="inner", suffixes=("_cam", "_gsr"))
print("Merged shape:", merged_df.shape)
merged_df.head()

Merged shape: (131, 16)

,S. No.,Age_cam,Gender_cam,R,G,B,C,Temp90614,GSR_cam,BMI,Jaundice,Age_gsr,Gender_gsr,Temp90640,GSR_gsr,Liver Healthy
0,1,20,Male,585.00,385.17,259.67,1223.83,31.76,1151.17,20.28,Yes,20,Male,37.22,1151.17,No
1,2,20,Male,1890.43,1238.14,794.86,3891.71,34.52,86.14,26.03,No,20,Male,36.36,86.14,No
2,3,20,Male,724.38,540.75,364.38,1633.50,32.97,1029.38,24.16,Yes,20,Male,34.97,1029.38,Yes
3,4,20,Male,558.29,312.29,192.57,1045.71,33.69,907.57,23.77,Yes,20,Male,33.42,907.57,Yes
4,5,19,Male,2058.83,1259.00,797.33,3968.17,34.36,658.33,23.30,Yes,19,Male,36.69,658.33,No

In [6]:
final_df=merged_df
final_df.to_csv("/content/final_multisensor_dataset.csv", index=False)

In [7]:
import numpy as np

def combine_health_status(row):
    if row['Liver Healthy'] == 'No' or row['Jaundice'] == 'No':
        return 'No'
    elif row['Liver Healthy'] == 'Mid' or row['Jaundice'] == 'Mid':
        return 'Mid'
    else:
        return 'Yes'

final_df['Health_Status'] = final_df.apply(combine_health_status, axis=1)

# Drop the original 'Liver Healthy' and 'Jaundice' columns
final_df = final_df.drop(columns=['Liver Healthy', 'Jaundice'])

# Drop 'Age_gsr' and 'Gender_gsr' columns
final_df = final_df.drop(columns=['Age_gsr', 'Gender_gsr'])

print("Final DataFrame columns:", final_df.columns)
display(final_df.head())

Final DataFrame columns: Index(['S. No.', 'Age_cam', 'Gender_cam', 'R', 'G', 'B', 'C', 'Temp90614',
       'GSR_cam', 'BMI', 'Temp90640', 'GSR_gsr', 'Health_Status'],
      dtype='object')

,S. No.,Age_cam,Gender_cam,R,G,B,C,Temp90614,GSR_cam,BMI,Temp90640,GSR_gsr,Health_Status
0,1,20,Male,585.00,385.17,259.67,1223.83,31.76,1151.17,20.28,37.22,1151.17,No
1,2,20,Male,1890.43,1238.14,794.86,3891.71,34.52,86.14,26.03,36.36,86.14,No
2,3,20,Male,724.38,540.75,364.38,1633.50,32.97,1029.38,24.16,34.97,1029.38,Yes
3,4,20,Male,558.29,312.29,192.57,1045.71,33.69,907.57,23.77,33.42,907.57,Yes
4,5,19,Male,2058.83,1259.00,797.33,3968.17,34.36,658.33,23.30,36.69,658.33,No

In [9]:
final_df.to_csv("/content/final_multisensor_dataset.csv", index=False)